.root {
	padding: 0 16px;
	width: 100%;
	height: 40px;
	color: #2d3748;
	border: 1px solid #bbc1c9;
	border-radius: 6px;

	&:focus-visible {
		border-color: #3182ce;
		box-shadow: #3182ce 0 0 0 1px;
		outline: none;
	}

	&::placeholder {
		color: #838d99;
	}
}
