.root {
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	border-radius: 20px;
	overflow: hidden;
	height: 100%;
}

.image {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 16px;
	flex-grow: 1;
}

.title {
	margin-bottom: 10px;
	font-weight: 500;
	flex-grow: 1;
}

.price {
	@apply text-rose-700 text-xl;
}
